<ui-modal [isOpen]="isOpen" [title]="title" (close)="onClose()">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="space-y-3 sm:space-y-4 px-1 sm:px-2 max-h-[65vh] overflow-y-auto lg:max-h-none lg:overflow-visible">
            <div class="grid grid-cols-1 gap-4 sm:gap-6 md:grid-cols-2">
                <ui-form-field label="Prénom" type="text" placeholder="Saisir" [required]="true"
                    [control]="employeeForm.get('prenom')!" [error]="getFieldError('prenom')" class="max-md:mb-2">
                </ui-form-field>

                <ui-form-field label="Nom" type="text" placeholder="Saisir" [required]="true"
                    [control]="employeeForm.get('nom')!" [error]="getFieldError('nom')" class="max-md:mb-2">
                </ui-form-field>

                <ui-form-field label="Adresse e-mail professionnelle" type="email" placeholder="Saisir"
                    [required]="true" [control]="employeeForm.get('email')!" [error]="getFieldError('email')"
                    class="max-md:mb-2">
                </ui-form-field>

                <ui-form-field label="Numéro de téléphone" type="tel" placeholder="Saisir" [required]="true"
                    [control]="employeeForm.get('telephone')!" [error]="getFieldError('telephone')" class="max-md:mb-2">
                </ui-form-field>
            </div>
        </div>

        <div class="flex flex-col-reverse gap-2 pt-4 sm:pt-6 sm:flex-row sm:items-center sm:justify-between">
            <button type="submit" [disabled]="employeeForm.invalid || isSubmitting"
                class="w-full py-3 sm:py-4 bg-[#2C2D5B] hover:bg-[#232b5c] text-white rounded-lg font-medium transition-colors">
                {{ isSubmitting ? 'Patienter...' : "Enregistrer" }}
            </button>
            <button type="button" (click)="onClose()"
                class="w-full py-3 sm:py-4 bg-[#DDE2E433] text-gray-600 hover:bg-gray-50 hover:text-gray-800 rounded-lg font-medium transition-colors">
                Annuler
            </button>

        </div>
    </form>
</ui-modal>
