<div class="min-h-screen relative overflow-hidden"
    style="background-image: url('/images/background-image.png'); background-size: cover; background-position: center;">

    <div class="h-full w-full flex items-center justify-start">
        <!-- Left Section - Form -->
        <div class="w-1/2 h-full py-10 ml-10 flex flex-col justify-center sm:px-16">
            <!-- Logo -->
            <div class="mb-10">
                <img src="/images/logo.png" alt="Logo CoopAchat" class="h-8 w-auto animate-float">
            </div>

            <!-- Contenu projeté -->
            <ng-content></ng-content>
        </div>
    </div>
</div>